body { 
  background-color: #888; 
  color: #333;
	margin: 0;
	padding: 0;
}

body, div, p, input, ol, ul, td, th {
  font-family: 'Lucida Grande', verdana, arial, helvetica, helv, sans-serif;
	color: #333; 	
  font-size:   12px;
  line-height: 1.5em;
}
h1,h2,h3,h4,h5 {
  color: black;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #B13A3C; }
a:hover { color: #B13A3C; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


/*   big page-chunks */
#header {
  padding: 0;
  min-height: 2.5em;
}
#nav {
  padding: 5px 15px;
}
#logo {
  float: right;
  padding: 3px;
  padding-left: 5px
}
#pagetitle {
  float: right;
}

#content {
  background-color: white;
  padding-left: 5px;
}
#footer {
  padding-left: 15px;
}
label {
  font-weight: bold;
}
