<h1>Editing wine</h1>

<% form_for(@wine) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @wine %> |
<%= link_to 'Back', wines_path %>
